-Xms1200M
 
-Xmx1200M
 
-XX:+UnlockDiagnosticVMOptions
 
-XX:+UnsyncloadClass
 
-Djava.net.preferIPv4Stack=truer
 
-Dkaraf.home=.
 
-Dkaraf.base=.
 
-Dkaraf.etc=etc
 
-Djava.util.logging.config.file=etc/java.util.logging.properties
 
-Dkaraf.data=/var/lib/nexus/nexus-data
 
-Djava.io.tmpdir=data/tmp
 
-Dkaraf.startLocalConsole=false
